<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-thumbnail slot="start">
              <img src="assets/2.jpeg" />
            </ion-thumbnail>
            <ion-label>
              <h4><b>Jollof of Africa</b></h4>
              <ion-text color="medium">
                <p>University of Pretoria</p>
              </ion-text>
              <span>
                R 200
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </span>
            </ion-label>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-text color="medium">
              <p>
                Delivered
                <ion-icon color="success" name="checkmark-circle-outline"></ion-icon>
              </p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="danger">
              <p>Jollof x 2</p>
              <p>March 31, 2023 10:00 AM</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

      <ion-button color="danger">Reorder</ion-button>
      <ion-button color="dark" fill="outline">Get Help</ion-button>
  </ion-card-content>
</ion-card>