<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img src="{{data.image}}" />
  </ion-thumbnail>
  <ion-label>
    <h4><b>{{data.name}}</b></h4>
    <ion-text color="medium">
      <p>{{data.typeof}}</p>
    </ion-text>
    <span>
      {{data.rating}}
      <ion-icon name="star"></ion-icon>
      <ion-text>
        {{data.time}}. R{{data.price}} for two
      </ion-text>
    </span>

    <ion-text color="danger">
      <p class="distance"></p>
      <p class="">
        <ion-icon name="location-outline"></ion-icon>
        {{data.distance}} away
      </p>
    </ion-text>
  </ion-label>
</ion-item>