<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img src="assets/2.jpeg" />
  </ion-thumbnail>
  <ion-label>
    <h4><b>Jollof of Africa</b></h4>
    <ion-text color="medium">
      <p>African</p>
    </ion-text>
    <span>
      4.5
      <ion-icon name="star"></ion-icon>
      <ion-text>
        5 mins. R150 for two
      </ion-text>
    </span>

    <ion-text color="danger">
      <p class="distance"></p>
      <p class="">
        <ion-icon name="location-outline"></ion-icon>
        2.5km away
      </p>
    </ion-text>
  </ion-label>
</ion-item>