<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cart</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h3>Items in your cart</h3>
  </div>

  <ion-list>
    <div *ngFor="let item of data">
      <app-cart-item [data]="item"></app-cart-item>
    </div>
  </ion-list>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h4>Subtotal</h4>
          </ion-col>
          <ion-col class="ion-text-right">
            <h4>R200</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4>Delivery</h4>
          </ion-col>
          <ion-col class="ion-text-right">
            <h4>Free</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4>Tax</h4>
          </ion-col>
          <ion-col class="ion-text-right">
            <h4>Free</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4>Total</h4>
          </ion-col>
          <ion-col class="ion-text-right">
            <h4>R200</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h4>Delivery Address to Home</h4>
            <p>123 Main St, New York, NY 10001</p>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-button fill="clear">
              <ion-text>Change</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div class="button-container ion-text-center">
    <ion-button color="danger">
      <ion-icon name="card-outline"></ion-icon>
      <ion-text id="pay">Pay</ion-text>
    </ion-button>
  </div>
</ion-content>