<ion-header [translucent]="true">
  <ion-toolbar color="light" class="ion-padding">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

      <app-info-card></app-info-card>
      <app-info-card></app-info-card>
      <app-info-card></app-info-card>
      <app-info-card></app-info-card>
      <app-info-card></app-info-card>
      <app-info-card></app-info-card>
      <app-info-card></app-info-card>
      <app-info-card></app-info-card>
  </ion-header>
</ion-content>
