<ion-header [translucent]="true">
  <ion-toolbar class="text-center">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
    <br>
  </ion-header>
  <app-restaurant-image></app-restaurant-image>
  <div class="ion-padding">
    <h3>Rrestaurants Nearby</h3>
    <ion-text color="medium">
      Dicover unique tastes near you
    </ion-text>
  </div>
  <div *ngFor="let info of data">
    <ion-toast trigger="open-toast" message="Item added to the cart" [duration]="3000"></ion-toast>
    <app-info-card (click)="addToCart(info)" id="open-toast" [data]="info"></app-info-card>
  </div>
</ion-content>
