<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="profile-container">
    <img src="assets/user.svg">
    <h2>{{details.name}}</h2>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Account Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item lines="none">
        <ion-icon name="person" size="small" slot="start"></ion-icon>
        <ion-input name="name" value="{{details.name}}" disabled></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="mail" size="small" slot="start"></ion-icon>
        <ion-input name="email" value="{{details.email}}" disabled></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="call" size="small" slot="start"></ion-icon>
        <ion-input name="phone" value="{{details.phone}}" disabled></ion-input>
      </ion-item>

      <ion-button (click)="toggleInputs($event)" expand="block" slot="end" color="primary">Edit</ion-button>
    </ion-card-content>
  </ion-card>


  <div class="ion-padding">
    <h1>Past Orders</h1>
    <div *ngIf="data.length > 1">
      <div *ngFor="let item of data">
        <app-past-order *ngIf="item.id !==0" [data]="item"></app-past-order>
      </div>
    </div>
    <div *ngIf="data.length <= 1">
      <p>No past orders.</p>
    </div>
  </div>
</ion-content>

