<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="profile-container">
    <img src="assets/3.jpeg">
    <h2>John Doe</h2>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Account Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-icon name="person" size="small" slot="start"></ion-icon>
        <ion-label>Username:</ion-label>
        <ion-input value="johndoe"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="mail" size="small" slot="start"></ion-icon>
        <ion-label>Email:</ion-label>
        <ion-input value="john@doe.co.za"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="call" size="small" slot="start"></ion-icon>
        <ion-label>Phone:</ion-label>
        <ion-input value="071 234 5678"></ion-input>
      </ion-item>

      <ion-button expand="block" slot="end" color="primary">Edit</ion-button>
    </ion-card-content>
  </ion-card>


  <div class="ion-padding">
    <h1>Past Orders</h1>
    <app-past-order></app-past-order>
    <app-past-order></app-past-order>
    <app-past-order></app-past-order>
  </div>
</ion-content>

